<div class="container text-center p-5">

    <div class="text-center" *ngIf="estaCarregando">
        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    <table class="table table-hover" *ngIf="!estaCarregando" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Banco</th>
                <th>Agência</th>
                <th>Conta Corrente</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contato of contatos" >
                <td>{{contato.id}}</td>
                <td>{{contato.nome}}</td>
                <td>{{contato.cpf}}</td>
                <td>{{contato.banco}}</td>
                <td>{{contato.ag}}</td>
                <td>{{contato.cc}}</td>
                <td><button (click)="seeDetails(contato.id)"  class="btn btn-primary">Ver detalhes</button></td>
            </tr>
        </tbody>
    </table>
</div>
